@{
    Layout = "_Layout.cshtml";
}
<form method="POST" action="/login">
    <div class="form-group">
        <label for="Username">UserName:</label>
        <input type="text" name="Username" class = "form-control" placeholder = "UserName" />
    </div>
    <div class="form-group">
        <label for="Password">Password:</label>
        <input type="text" name="Password" class = "form-control" placeholder = "Password" />
    </div>
    <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl"/>
    <input type="submit" value="log in" class="btn btn-default" />
</form>
<a href="/register">Register</a>